body {
  font-family: 'Open Sans', Arial, sans-serif; /* Fonte padrão para o corpo do documento */
}

input,
textarea,
select,
button {
  font-family: inherit; /* Faz com que herdem a fonte do 'body' ou de um container pai */
  /* OU você pode definir explicitamente: */
  /* font-family: 'Open Sans', Arial, sans-serif; */
  font-size: 1rem; /* Ou o tamanho que desejar */
  /* Outros estilos base para seus inputs aqui */
}
